@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fcfff5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fcfff5;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);


}

/* .quicksand {
  font-family: var(--font-quicksand);
} */

